@luna:registry=https://artifactory.casper.tools/artifactory/api/npm/npm/
//artifactory.casper.tools/artifactory/api/npm/npm/:_password=${NPMRC_PASS}
//artifactory.casper.tools/artifactory/api/npm/npm/:username=${NPMRC_USER}
//artifactory.casper.tools/artifactory/api/npm/npm/:email=${NPMRC_EMAIL}
//artifactory.casper.tools/artifactory/api/npm/npm/:always-auth=true

@siesta:registry=https://artifactory.casper.tools/artifactory/api/npm/npm/
//artifactory.casper.tools/artifactory/api/npm/npm/:_password=${NPMRC_PASS}
//artifactory.casper.tools/artifactory/api/npm/npm/:username=${NPMRC_USER}
//artifactory.casper.tools/artifactory/api/npm/npm/:email=${NPMRC_EMAIL}
//artifactory.casper.tools/artifactory/api/npm/npm/:always-auth=true

@demo-shop-shared:registry=https://artifactory.casper.tools/artifactory/api/npm/npm/
//artifactory.casper.tools/artifactory/api/npm/npm/:_password=${NPMRC_PASS}
//artifactory.casper.tools/artifactory/api/npm/npm/:username=${NPMRC_USER}
//artifactory.casper.tools/artifactory/api/npm/npm/:email=${NPMRC_EMAIL}
//artifactory.casper.tools/artifactory/api/npm/npm/:always-auth=true

@demo-siesta:registry=https://artifactory.casper.tools/artifactory/api/npm/npm/
//artifactory.casper.tools/artifactory/api/npm/npm/:_password=${NPMRC_PASS}
//artifactory.casper.tools/artifactory/api/npm/npm/:username=${NPMRC_USER}
//artifactory.casper.tools/artifactory/api/npm/npm/:email=${NPMRC_EMAIL}
//artifactory.casper.tools/artifactory/api/npm/npm/:always-auth=true
